In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Challenge.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Antibes,FR,43.5624,7.1278,57.67,79,0,5.75,clear sky
1,1,Mirnyy,RU,62.5353,113.9611,-6.77,83,100,1.99,overcast clouds
2,2,Kodiak,US,57.7900,-152.4072,42.31,100,100,14.97,moderate rain
3,3,Kahului,US,20.8947,-156.4700,82.42,62,20,20.71,few clouds
4,4,Hermanus,ZA,-34.4187,19.2345,56.80,71,93,3.89,overcast clouds

In [ ]:
# Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

In [ ]:
# Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

In [7]:
# Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Antibes,FR,43.5624,7.1278,57.67,79,0,5.75,clear sky
2,2,Kodiak,US,57.7900,-152.4072,42.31,100,100,14.97,moderate rain
3,3,Kahului,US,20.8947,-156.4700,82.42,62,20,20.71,few clouds
4,4,Hermanus,ZA,-34.4187,19.2345,56.80,71,93,3.89,overcast clouds
5,5,Kavieng,PG,-2.5744,150.7967,83.01,70,100,9.06,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Sulangan,PH,11.1373,123.7228,82.38,78,84,11.97,broken clouds
687,687,Veseloyarsk,RU,51.2836,81.1056,26.17,75,100,17.76,overcast clouds
688,688,Mutsu,JP,41.2894,141.2169,40.93,66,13,11.54,few clouds
689,689,Odweyne,SO,9.4092,45.0640,70.34,51,4,3.96,clear sky
690,690,Inuvik,CA,68.3499,-133.7218,21.96,54,75,4.61,broken clouds

In [9]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Antibes,FR,57.67,clear sky,43.5624,7.1278,
2,Kodiak,US,42.31,moderate rain,57.7900,-152.4072,
3,Kahului,US,82.42,few clouds,20.8947,-156.4700,
4,Hermanus,ZA,56.80,overcast clouds,-34.4187,19.2345,
5,Kavieng,PG,83.01,overcast clouds,-2.5744,150.7967,
6,Georgetown,MY,80.24,few clouds,5.4112,100.3354,
7,Airai,TL,62.82,overcast clouds,-8.9266,125.4092,
8,Jamestown,US,35.19,light snow,42.0970,-79.2353,
9,Pevek,RU,7.03,light snow,69.7008,170.3133,
10,Port Alfred,ZA,62.19,broken clouds,-33.5906,26.8910,

In [10]:
# Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Antibes,FR,57.67,clear sky,43.5624,7.1278,"ROYAL ANTIBES Luxury Hotel, Residence, Beach &..."
2,Kodiak,US,42.31,moderate rain,57.7900,-152.4072,Best Western Kodiak Inn
3,Kahului,US,82.42,few clouds,20.8947,-156.4700,Maui Seaside Hotel
4,Hermanus,ZA,56.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
5,Kavieng,PG,83.01,overcast clouds,-2.5744,150.7967,Nusa Island Retreat

In [ ]:
# Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Current Weather
{Current Description}

Max Temp
{Max Temp} °F


"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

#  Display the map
fig

Figure(layout=FigureLayout(height='420px'))